
#ifndef __INSTRUCTIONS_H__
#define __INSTRUCTIONS_H__

#include <stdint.h>

typedef uint8_t instr;

<@
map_to_string [non_reserved_instructions] [lambda {val name} {
  return "#define $name 0x[dec_to_hex $val]\n"
}]
@>

#endif
